<p>All data shown on this website is for informational purposes only and should not be relied upon to make trading or
    investing decisions!</p>
<p class="fw-bold">We do not guarantee timeliness and correctness of any data!</p>
<p>This website is using free open source library <a
        class="drac-anchor drac-text drac-text-green drac-text-yellow--hover jb-mono pointer" target="_blank"
        href="https://pypi.org/project/yfinance/">“yfinance”</a> to get all the data. There might be errors
    during calculating all different indicators you can find on this website. Please bear in mind that this is only
    personal project, not meant to be used commercially.</p>
<p class="fw-bold">Stock price is not live!</p>
<p>You can analyze all stocks listed on Yahoo Finance which is providing all the data within their free API. Please note
    that this application does not work well with ETFs.</p>
<p>If you have any questions or concerns, please do not hesitate to contact me at <a
        class="drac-anchor drac-text drac-text-green drac-text-yellow--hover jb-mono pointer"
        href="mailto:info@valuat.io">info@valuat.io</a>.</p>
<p class="fst-italic">This page was last updated on April 16, 2022.</p>