<div class="drac-box">
    <div class="mb-5">
        <p class="mb-3">If you like this application and find it useful, please consider donating to help with paying
            for server
            hosting and domain costs.</p>
        <h5 class="text-center">Donate via credit card</h5>
        <a class="no-underline" target="_blank" href="https://ko-fi.com/valuatio">
            <div
                class="drac-box drac-bg-red drac-rounded-lg drac-p-md text-center jb-mono fw-bold drac-text drac-text-black drac-text-white--hover">
                ☕&nbsp;Buy&nbsp;me&nbsp;a&nbsp;Coffee
            </div>
        </a>
    </div>
    <div>
        <h5 class="text-center">Donate crypto</h5>
        <p>
            <span class="fw-bold">BTC: </span><small
                class="wrap-long">bc1qjkxl6xsxgxrtc4qvqslljvmca6cht2ssjdx54r</small>
        </p>
        <p>
            <span class="fw-bold">ETH: </span><small
                class="wrap-long">0xF7AF283179300044620bCBBb51535Facbe86Ff38</small>
        </p>
        <p>
            <span class="fw-bold">BTC Lightning ⚡: </span><small
                class="wrap-long">lnbc109360n1p394nmjpp56z7z3yet6xcm5vrv05a5eww5vcvunsp3jxddr7mjatz87fj9sp4qdq62eskcatpwshxjmeqv3hkuct5v5cqzpgxqyz5vqsp53uplgmp5j2w2s0nwk3ugupk3khkrrjxnn9kdyj3gqq0u5hx8zmpq9qyyssqayy4ljld8zm8625ufqk8tez37z5fjr04wzhtlw6vfldfwp2nrhsscly945jr9fsem59uf64vghenmhaajmm7phrdvlzlpdy5s35fplspehy4rd</small>
        </p>
    </div>
</div>