<footer class="drac-text-white container-fluid mb-3">
    <div class="container my-3">
        <div class="mb-2">
            <div class="row">
                <div class="col-sm d-flex justify-content-around mb-2">
                    <div>
                        <!-- Changelog modal start -->
                        <!-- Anchor trigger modal -->
                        <a class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono pointer"
                            data-bs-toggle="modal" data-bs-target="#changelogModal">
                            Changelog
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="changelogModal" tabindex="-1" aria-labelledby="changelogModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content drac-bg-black">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="changelogModalLabel">Changelog</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Changelog modal end -->
                    <!-- Disclaimer modal start -->
                    <div>
                        <!-- Anchor trigger modal -->
                        <a class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono pointer"
                            data-bs-toggle="modal" data-bs-target="#disclaimerModal">
                            Disclaimer
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="disclaimerModal" tabindex="-1"
                            aria-labelledby="disclaimerModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content drac-bg-black">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Disclaimer modal end -->
                <div class="col-sm d-flex justify-content-around mb-2">
                    <div><a href="https://github.com/marekh19/Valuat.io"
                            class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono"
                            target="blank">Github</a></div>
                    <div><a href="#" class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono"
                            target="blank">Roadmap</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-around">
                    <a href="#" class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono"
                        target="blank">Donate</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            © 2022&nbsp;<a href="/"
                class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono">Valuat.io</a>&nbsp;by&nbsp;
            <a href="https://github.com/marekh19" target="blank"
                class="drac-anchor drac-text drac-text-white drac-text-green--hover jb-mono">Marek Honzal</a>
        </div>
    </div>
</footer>