{% load static %}
<div class="container-fluid drac-bg-black">
    <div class="container">
        <nav class="navbar navbar-dark drac-bg-black justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo_main.png' %}" alt="Valuat.io logo" width="120">
            </a>
            <form class="d-flex align-items-center" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit"
                    class="drac-btn drac-bg-green drac-m-sm drac-text-black">Analyze&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </form>
        </nav>
    </div>
</div>