<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{ fundamentals.symbol }} - Valuat.io</title>
</head>
{% autoescape on %}

<body>
    {% load template_filters %}
    {% load humanize %}
    {% comment %} NAV START {% endcomment %}
    <div class="container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand" href="/">Valuat.io</a>
                <form class="form-inline" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-light ms-2">Analyze</button>
                </form>
            </nav>
        </div>
    </div>
    {% comment %} NAV END {% endcomment %}
    <div class="d-flex justify-content-center align-items-center">
        <main class="mt-5 w-100">
            <div class="container mb-5">
                <div class="row justify-content-md-center align-items-center">
                    <h2 class="mb-0 text-center">{{ fundamentals.name }} Valuation</h2>
                </div>
            </div>
            {% comment %} BASIC INFO & CHART START {% endcomment %}
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mb-3 text-center">Basic info</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Ticker:</td>
                                    <td class="text-end fw-bold">{{ fundamentals.symbol }}</td>
                                </tr>
                                <tr>
                                    <td>Price:</td>
                                    <td class="text-end fw-bold">{{ fundamentals.price|floatformat:2 }}
                                        {{ fundamentals.currency }}</td>
                                </tr>
                                <tr>
                                    <td>Market cap:</td>
                                    <td class="text-end fw-bold">{{ fundamentals.market_cap_original|intword }}
                                        {{ fundamentals.currency }}</td>
                                </tr>
                                <tr>
                                    <td>Country:</td>
                                    <td class="text-end fw-bold">{{ fundamentals.country }}</td>
                                </tr>
                                <tr>
                                    <td>Info updated on:</td>
                                    <td class="text-end fw-bold">{{ fundamentals.data_saved_on|date:'d M Y H:i'  }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="accordion accordion-flush mt-0 mb-0" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Business summary:
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body"> {{ fundamentals.description }} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="mb-3 text-center">Daily chart</h4>
                        <div class="d-flex justify-content-center align-items-center">
                            DAILY CHART PLACEHOLDER
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} BASIC INFO & CHART END {% endcomment %}
            {% comment %} FUNDAMENTALS START {% endcomment %}
            <div class="container mb-5">
                <div class="row">
                    <h3 class="mb-3 text-center">Fundamentals</h3>
                    <div class="col-md-4">
                        <h4 class="mb-3 text-center">Financial strenght</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>D/E:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.debt_to_equity|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td>F-Score:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;X</td>
                                </tr>
                                <tr>
                                    <td>M-Score:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;X</td>
                                </tr>
                                <tr>
                                    <td>Z-Score:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;X</td>
                                </tr>
                                <tr>
                                    <td>WACC/ROIC:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;X</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mb-3 text-center">Profitability & Dividends</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>ROE:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.roe|2decimal_percentage }}</td>
                                </tr>
                                <tr>
                                    <td>EPS:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.eps|floatformat:2 }}&nbsp;{{ fundamentals.currency }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;
                                    <td>
                                </tr>
                                <tr>
                                    <td>Dividend amount:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.dividend_value|floatformat:2 }}&nbsp;{{ fundamentals.currency }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dividend yield:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.dividend_yield|2decimal_percentage }}</td>
                                </tr>
                                <tr>
                                    <td>Payout ratio:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.payout_ratio|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td>Ex-dividend date:</td>
                                    <td class="text-end fw-bold">
                                        {{ fundamentals.ex_divi_date|timestamp_to_time|date:"d M Y" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mb-3 text-center">Valuation</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>PE:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;{{ fundamentals.pe_ratio|floatformat:2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>PEG:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;{{ fundamentals.peg_ratio|floatformat:2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>PS:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;{{ fundamentals.ps_ratio|floatformat:2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>PB:</td>
                                    <td class="text-end fw-bold">&#9632;&nbsp;{{ fundamentals.pb_ratio|floatformat:2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>P/FCF:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.pfcf_ratio|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td>Quick ratio:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.quick_ratio|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td>Current ratio:</td>
                                    <td class="text-end fw-bold">
                                        &#9632;&nbsp;{{ fundamentals.current_ratio|floatformat:2 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% comment %} FUNDAMENTALS END {% endcomment %}
            {% comment %} LONG TERM ANALYSIS START {% endcomment %}
            <div class="container">
                <div class="row">
                    <div class="accordion mb-3" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    7 years overview
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Year</th>
                                                <th scope="col">TSE per Share</th>
                                                <th scope="col">EPS</th>
                                                <th scope="col">Dividend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1<sup>st</sup> year</th>
                                                <td>{{ 7yrs.1.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.1.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.1.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2<sup>nd</sup> year</th>
                                                <td>{{ 7yrs.2.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.2.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.2.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3<sup>rd</sup> year</th>
                                                <td>{{ 7yrs.3.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.3.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.3.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4<sup>th</sup> year</th>
                                                <td>{{ 7yrs.4.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.4.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.4.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5<sup>th</sup> year</th>
                                                <td>{{ 7yrs.5.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.5.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.5.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6<sup>th</sup> year</th>
                                                <td>{{ 7yrs.6.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.6.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.6.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7<sup>th</sup> year</th>
                                                <td>{{ 7yrs.7.0|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.7.1|floatformat:2 }} {{ fundamentals.currency }}</td>
                                                <td>{{ 7yrs.7.2|floatformat:2 }} {{ fundamentals.currency }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    </div>
</body>
{% endautoescape %}

</html>