@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

/* GLOBAL -- font */
.jb-mono {
    font-family: 'JetBrains Mono', monospace;
}

/* HOMEPAGE -- logo */
.main-logo {
    max-width: 30%;
}

.header-logo {
    max-width: 20%;
}

.center {
    text-align: center;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 0;
}

.pointer {
    cursor: pointer;
}

/* Valuation colors -- logo */
.score-100 {
    color: #50fa7b;
}

.score-80 {
    color: #A1FA84;
}

.score-60 {
    color: #f1fa8c;
}

.score-40 {
    color: #ffb86c;
}

.score-20 {
    color: #ff5555;
}

.score-na {
    color: #f8f8f2;
}